* {
  box-sizing: border-box;
  margin: 0rem;
  font-size: 40px;
}
html {
  background-color: whitesmoke;
}
.displayContainer {
  overflow: auto;
  width: 10rem;
  height: 2rem;
  padding: .5rem;
  line-height: .5rem;
  color: white;
  font-size: 1rem;
}
.calcButton {
  width: 2.5rem;
  color: black;
}
.acButton {
  width: 5rem;
  color: black;
}
.buttonRow {
  width: 10rem;
}
.calcContainer {
  margin: -5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10.25rem;
  border: .125rem solid blue;
  background-color: blue;
}